@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&family=Work+Sans:ital,wght@0,200;0,300;1,200&display=swap');

:root {
  --color-primary: #00adff;
  --color-secondary: #131336;
  --color-secondary-light: #2b2b3d;

  --color-white: #f3f2f2;
  --color-silver: #c7c8ca --color-gray: #555;
  --color-white-light: #efeff0c0;
  --color-black: #252827;
}

*,
*::before,
*::after {
  padding: 0%;
  margin: 0%;
  box-sizing: inherit;
}

html {
  font-family: 'Work Sans', 'Raleway', sans-serif;
  line-height: 1.6;
  font-size: 62.5%;


  @media (max-width: 75em) {
    & {
      font-size: 56.5%;
    }
  }

  @media (max-width: 56.25em) {
    & {
      font-size: 50%;
    }
  }

  @media (max-width: 31.25em) {
    & {
      font-size: 43.75%;
    }
  }

  @media (max-width: 25em) {
    & {
      font-size: 30%;
    }
  }
}

body {
  box-sizing: border-box;
  background-color: var(--color-white);
  color: var(--color-secondary);
  scroll-snap-type: y mandatory;

  &::-webkit-scrollbar {
    display: none;
  }
}

//headings
.heading {
  &-jumbo {
    font-size: 10rem;
    text-transform: capitalize;
    font-family: 'Raleway';

    @media (max-width: 56.25em) {
      & {
        font-size: 4rem;
      }
    }
  }

  &-primary {
    font-size: 5rem;
    text-transform: capitalize;
    font-family: 'Raleway';
    font-weight: 700;
    line-height: 1.5;

    @media (max-width: 56.25em) {
      & {
        font-size: 4rem;
        font-weight: 500;
        line-height: 1.2;
      }
    }
  }

  &-secondary {
    font-size: 4rem;
    text-align: center;
    font-family: 'Raleway';
    text-transform: uppercase;
    margin: 3rem 0;
    font-weight: 500;
    line-height: 1.5;

    @media (max-width: 56.25em) {
      & {
        font-size: 3rem;
        font-weight: 300;
        line-height: 1.2;
      }
    }
  }

  &-tertiary {
    font-size: 2.5rem;
    font-family: 'Raleway';
    text-transform: capitalize;
    line-height: 1.5;
    margin-bottom: 1rem;

    @media (max-width: 56.25em) {
      & {
        font-size: 2rem;
        line-height: 1.2;
      }
    }
  }

  &-credit {
    font-size: 2.5rem;
    font-family: 'Raleway';
    font-weight: 100;
    padding: 1rem;

    @media (max-width: 56.25em) {
      & {
        font-size: 2rem;
      }
    }
  }

  &-sub {
    font-size: 3rem;
    font-family: 'Raleway';
    font-weight: 700;

    @media (max-width: 56.25em) {
      & {
        font-size: 2rem;
        font-weight: 500;
      }
    }
  }

  &-subtitle {
    color: var(--color-gray);
    font-size: 1.8rem;
    font-weight: 300;

    @media (max-width: 56.25em) {
      & {
        font-size: 1.4rem;
        font-weight: 200;
      }
    }
  }
}

//

//SVG
#darkGroup {
  fill: var(--color-primary);
}

//

//utilities
.current {
  color: var(--color-gray);
  border-bottom: 0.2rem solid var(--color-secondary);
  transform: translateY(-1px) scale(1.1);
}

.paragraph {
  font-weight: 300;
  text-align: left;
  text-indent: 7rem;
  font-size: 2rem;
}

.card {
  padding: 4rem 6rem;
  background: #f0f0f0;
  box-shadow: 28px 28px 56px var(--color-silver),
    -28px -28px 56px var(--color-white);
  border-radius: 5px;

  &-title {
    font-size: 3rem;
    font-weight: bold;
  }
}

.link {
  &,&:active {
    display: block;
    text-decoration: none;
    max-width: 20rem;
    text-align: center;
    font-size: 1.4rem;
    color: var(--color-secondary);
    text-transform: uppercase;
    margin-top: 2rem;
    padding: 1rem 1.5rem;
    border: 0.2rem solid var(--color-secondary-light);
    position: relative;

    transition: all .4s ease-in-out;

    @media (max-width: 56.25em) {
      & {
        max-width: 60%;
      }
    }

    &:hover {
      transform: translateY(-1rem);
      box-shadow: 0 5px 3px #555;
      background-color: var(--color-secondary);
      color: var(--color-white);
    }
  }
}

.tilt {
  box-shadow: -2px 1px 1px 2px var(--color-secondary-light);
  transform-style: preserve-3d;
  transform: perspective(1000px) translateZ(20px);
}

.row {
  display: flex;
  padding: 2rem 0;
}

.icon {
  width: 5rem;
  height: 3rem;
}

//

//Nav
.nav {
  position: fixed;
  z-index: 10000;
  width: 100vw;
  top: 0;
  padding: 1.8rem 2rem;
  justify-content: space-between;
  font-size: 2rem;
  font-weight: 200;
  background: var(--color-white);

  @media (max-width: 56.25em) {
    & {
      font-size: 1.5rem;
      padding: 1rem 1.5rem;
    }
  }

  &-list {
    display: flex;
    justify-content: center;


    &-item {
      margin: 0 1rem;
    }
  }

  &-link, &link:active{
    text-decoration: none;
    color: var(--color-secondary);
    font-weight: 700;
    font-family: 'Raleway';
    padding: 1.5rem 1.5rem 0.2rem 1.5rem;
    text-transform: uppercase;
    transform: translateY(0px) scale(1);
    transition: all 1s ease-in-out;

    &:hover {
      color: var(--color-gray);
      border-bottom: 0.2rem solid var(--color-secondary);
      transform: translateY(-1px) scale(1.1);
    }
  }

  &-logo {
    color: var(--color-secondary);
    font-size: 2.5rem;
    text-transform: capitalize;
    font-weight: 700;
    border-bottom: 0.3rem solid var(--color-secondary-light);
  }

  &-btn {
    padding: 1rem 2rem;
    border: 1px solid transparent;
    background: var(--color-secondary-light);
    color: var(--color-white);
    border-radius: 7px;
    transform: scale(0.99);

    transition: all 0.2s ease-in-out;

    &:hover {
      cursor: pointer;
      transform: scale(1);
    }
  }
}
//

//Hero
.hero {
  height: 100vh;
  overflow-y: hidden ;
  background: linear-gradient(to right,
      rgba(2, 2, 2, 0) 60%,
      rgba(255, 255, 255, 0.2)),
    url("../images/hero.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  padding: 10rem 5rem;

  @media (max-width: 56.25em) {
    & {

      height: 120vh;
      padding: 3rem;
      background: linear-gradient(to right,
          rgba(255, 255, 255, 1),
          rgba(255, 255, 255, 0.55)),
        url("../images/hero-small.jpg");
    }
  }

  &-container {
    height: 50%;
    display: flex;
    justify-content: center ;
    align-items: center;
  }

  &-text {
    font-size: 2rem;
  }

  &-title {
    font-weight: 500;
    margin: 3rem 0;
  }

  &-message {
    font-size: 2rem;
    text-indent: 2rem;
    margin-left: 2rem;
    animation: animate-fade 2s ease-in-out 0.1s both;
  }

  &-card {
    max-width: 70vw;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    padding: 5rem;
    font-size: 1.6rem;
    background: #ebecee;
    box-shadow: 28px 28px 56px #d6d8d9,
      -28px -28px 56px #dcdfe0;

    @media (max-width:60em) {
      & {
        padding: 3rem;
      }
    }

    @media (max-width:40em) {
      & {
        display: block;
      }
    }
  }

  &-row1 {
    flex: 0 1 60%;
  }

  &-row2 {
    flex: 0 1 35%;
    border-left: 0.2rem solid var(--color-secondary);
    padding-left: 3rem;

    @media (max-width:40em) {
      & {
        border-left: none;
        border-top: 0.2rem solid var(--color-secondary);
      }
    }
  }
}
//


//pledge
.pledge {
  &-container {
    display: flex;
    gap: 2rem;
    max-width: 60vw;
    margin: 0 auto;

    @media (max-width : 60em) {
      & {
        display: block;
      }
    }
  }

  &-card {
    flex: 1 1 48%;
    margin: 10rem auto;
    padding: 3rem;
    text-align: left;
    border-radius: 7px;
    backdrop-filter: blur(14px);
    border-radius: 10px;
  }

  &-icon {
    width: 7rem;
    position: absolute;
    top: -10%;
    padding: 1rem;
  }
}
//

//Philosophy
.philosophy {
  max-width: 60rem;
  margin: 0 auto;
}
//

//about
.about {
  width: 60vw;
  margin: auto;
  overflow-x: hidden;

  @media (max-width: 56.25em) {
    & {
      width: 80vw;
    }
  }

  &-section {
    height: 100%;

    display: flex;
    flex-direction: column;
    margin-bottom: 10rem;
  }

  &-hero {
    margin: 2rem auto;
    width: 101.394928rem;
    height: 50.3rem;

    @media (max-width: 56.25em) {
      & {
        width: 80vw;
      }
    }
  }

  &-title {
    text-align: center;
    margin: 3rem 0;
    font-weight: 500;
  }

  &-story {
    width: 98%;
    margin: 0 auto;
  }

  &-paragraph {
    font-size: 2rem;
    font-weight: 300;
    color: var(--color-black);
    word-spacing: 2px;
    text-indent: 10rem;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}
// 

/* Timeline */
.timeline {
  border-left: 0.4rem solid var(--color-secondary-light);
  border-bottom-right-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  color: var(--color-secondary);
  font-family: inherit;
  margin: 5rem 0 10rem 30%;
  position: relative;
  line-height: 2rem;
  font-size: 1.5rem;
  padding: 5rem;
  list-style: none;
  text-align: left;
  font-weight: 100;
  max-width: 50vw;

  @media (max-width: 56.25em) {
    & {
      margin: 5rem 0 0 10%;
      max-width: 80vw;
    }
  }

  &-section {
    margin-bottom: 10rem;
  }

  &-event {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
    padding-bottom: 25px;
    margin-bottom: 50px;
    position: relative;

    &:last-of-type {
      padding-bottom: 0;
      margin-bottom: 0;
      border: none;
    }

    &:before,
    &:after {
      position: absolute;
      display: block;
      top: 0;
    }
  }

  &-img {
    position: absolute;

    top: 30%;
    left: -15%;
    z-index: 10;
    width: 5rem;
    border-radius: 10%;

    @media (max-width: 56.25em) {
      & {
        left: -19%;
      }
    }

    @media (max-width: 36.25em) {
      & {
        display: none;
      }
    }
  }

  &-details {
    font-size: 1.6rem;
    font-weight: 300;
    margin-top: 1.8rem;
  }
}

.portfolio {
  &-section {
    margin-top: 10rem;
  }

  &-container {
    margin-top: 5rem;
    max-width: 70vw;
    margin: 0rem auto;
    gap: 1rem;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;

    @media (max-width: 56.25em) {
      & {
        display: block;
      }
    }
  }

  &-card {
    flex: 0 1 40%;
    margin: 1.5rem auto;

    @media (max-width: 56.25em) {
      & {
        max-width: 100vw;
      }
    }
  }

  &-title {
    font-size: 3rem;
  }

  &-time {
    font-size: 2rem;
    display: block;
    margin-left: 1rem;

    &:nth-child(2n-1) {
      font-size: 1.6rem;
    }
  }
}

//

//potfolio
.portfolio {
  width: 80vw;
  height: 60rem;
  margin: 0 auto;

  &-img {
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 90%);
    position: relative;
    border-radius: 0.5rem;
  }
}

//profile
.profile {

  &-team {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
  }

  &-card {
    flex: 0 1 45%;
    margin: 0 auto;
    padding: 3rem .5rem;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(14px);
    border-radius: 10px;
    height: 50rem;
    width: 33%;
    display: flex;
    font-size: 1.7rem;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
  }

  @media (max-width: 75em) {
    &-card {
      flex: 0 1 45%;
    }
  }

  @media (max-width: 56.25em) {
    &-card {
      flex: 0 1 85%;
    }
  }

  &-bio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }

  &-picture {
    height: 12rem;
    width: 18rem;
    transform: translateY(-5%);
    clip-path: circle(45% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
  }

  &-image {
    width: 100%;
  }

  &-list {
    flex: 0 1 90%;
  }

  &-tabs {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
  }
}

//

//Project 
.project {
  font-size: 2rem;
  display: flex;
  height: 90vh;
  width: 80vw;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;

  @media (max-width: 56.25em) {
    & {
      display: block;
    }
  }

  &-icon {
    height: 80%;
    flex: 0 1 40%;
    background: url(../images/africa.svg) top center/cover no-repeat;

    @media (max-width: 56.25em) {
      & {
        height: 50%;
      }
    }
  }

  &-text {
    flex: 0 1 55%;

  }

  &-sub {
    margin-top: 1.4rem;
    font-size: 62.5%;

  }

  &-paragraph {
    font-size: 1.8rem;
    margin-left: 1.3rem;
  }
}

//

//team
.team {

  height: 60vh;

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 60%;
    margin: 5rem auto;


    @media (max-width:60em) {
      &{
        max-width: 90%;
        margin: 7rem auto;
      }
      
    }
  }

  &-text {
    font-size: 2.5rem;
    flex: 0 1 70%;
    text-align: left;
  }

  &-name {
    font-weight: 500;
  }

  &-title {
    animation: animate-fade 2s ease-in-out 0.1s both;
  }

  &-picture {
    flex: 0 1 20%;
    border-radius: 50%;
  }

  &-img {
    width: 100%;
    clip-path: circle(48% at 50%);
    transform: translateY(2px);

    @media (max-width: 60em) {
      & {
        width: 80%;
        transform: translate(1rem, -2px);
      }
    }
  }

  .parralax {
    transition: transform 0.3s ease-in-out;
  }

  &-message {
    text-align: left;
    font-weight: 300;
    margin: 0;
  }
}

//

//service
.service {
  max-width: 60vw;
  margin: 10rem auto;

  &-card {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin: 1rem 0;
    }
  }
}


//svg 
#darkGroup {
  fill: var(--color-secondary);
}

#light,
#dark1 {
  transform: translate(1.5rem);
  transition: transform 1s ease-in-out;
}

.service-card:hover #light,
.service-card:hover #dark1 {
  transform: translate(0);
}

//

//Active
.active {
  animation: fadeEffect 2s steps(30) forwards;
  animation-delay: 2s;
}

//
@keyframes animate-fade {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  50% {
    transform: translateX(1rem);
    opacity: 0.5;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(10deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  75% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}