@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&family=Work+Sans:ital,wght@0,200;0,300;1,200&display=swap");
:root {
  --color-primary: #00adff;
  --color-secondary: #131336;
  --color-secondary-light: #2b2b3d;
  --dark-background:#121219;
  --color-white: #f3f2f2;
  --color-silver: #c7c8ca;
  --color-gray: #555;
  --color-white-light: #efeff0c0;
  --color-black: #252827;
}

*,
*::before,
*::after {
  padding: 0%;
  margin: 0%;
  box-sizing: inherit;
}

html {
  font-family: "Work Sans", "Raleway", sans-serif;
  line-height: 1.6;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media (max-width: 77.75em) {
  html {
    font-size: 56.5%;
  }
}
@media (max-width: 58em) {
  html {
    font-size: 52%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 31.25em) {
  html {
    font-size: 43.75%;
  }
}
@media (max-width: 25em) {
  html {
    font-size: 30%;
  }
}

body {
  box-sizing: border-box;
  background-color: var(--color-white);
  color: var(--color-secondary);
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}
body::-webkit-scrollbar {
  display: none;
}
@media (prefers-color-scheme: dark) {
  body {
    color: var(--color-white);
    background-color: var(--dark-background);
  }
}

.heading-jumbo {
  font-size: 10rem;
  text-transform: capitalize;
  font-family: "Raleway";
}
@media (max-width: 78.25em) {
  .heading-jumbo {
    font-size: 7rem;
  }
}
@media (max-width: 56.25em) {
  .heading-jumbo {
    font-size: 4rem;
  }
}
.heading-primary {
  font-size: 5rem;
  text-transform: capitalize;
  font-family: "Raleway";
  font-weight: 700;
  line-height: 1.5;
}
@media (max-width: 56.25em) {
  .heading-primary {
    font-size: 4rem;
    font-weight: 500;
    line-height: 1.2;
  }
}
.heading-secondary {
  font-size: 4rem;
  text-align: center;
  font-family: "Raleway";
  text-transform: uppercase;
  margin: 3rem 0;
  font-weight: 500;
  line-height: 1.5;
}
@media (max-width: 56.25em) {
  .heading-secondary {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
  }
}
.heading-tertiary {
  font-size: 2.5rem;
  font-family: "Raleway";
  text-transform: capitalize;
  line-height: 1.5;
  margin-bottom: 1rem;
}
@media (max-width: 56.25em) {
  .heading-tertiary {
    font-size: 2rem;
    line-height: 1.2;
  }
}
.heading-credit {
  font-size: 2rem;
  font-family: "Raleway";
  font-weight: 100;
  padding: 1rem;
}
@media (max-width: 78em) {
  .heading-credit {
    font-size: 2rem;
  }
}
.heading-sub {
  font-size: 3rem;
  font-family: "Raleway";
  font-weight: 700;
}
@media (max-width: 56.25em) {
  .heading-sub {
    font-size: 2rem;
    font-weight: 500;
  }
}
.heading-subtitle {
  color: var(--color-gray);
  font-size: 1.8rem;
  font-weight: 300;
}
@media (max-width: 56.25em) {
  .heading-subtitle {
    font-size: 1.4rem;
    font-weight: 200;
  }
}

#darkGroup {
  fill: var(--color-primary);
}

.current {
  color: var(--color-gray);
  border-bottom: 0.2rem solid var(--color-secondary);
  transform: translateY(-1px) scale(1.1);
}

.paragraph {
  font-weight: 300;
  text-align: left;
  text-indent: 7rem;
  font-size: 2rem;
}

.card {
  padding: 4rem 6rem;
  background: #f0f0f0;
  box-shadow: 28px 28px 56px var(--color-silver), -28px -28px 56px var(--color-white);
  border-radius: 5px;
}
.card-title {
  font-size: 3rem;
  font-weight: bold;
}
@media (prefers-color-scheme: dark) {
  .card {
    box-shadow: none;
  }
}

.link, .link:active {
  display: block;
  text-decoration: none;
  max-width: 20rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bolder;
  color: var(--color-secondary);
  text-transform: uppercase;
  margin-top: 2rem;
  padding: 0.7rem 1.5rem;
  border: 0.2rem solid var(--color-secondary-light);
  position: relative;
  transition: all 0.4s ease-in-out;
}
@media (prefers-color-scheme: dark) {
  .link, .link:active {
    background-color: var(--color-white);
  }
}
@media (max-width: 56.25em) {
  .link, .link:active {
    font-size: 1.4rem;
    max-width: 15rem;
  }
}
.link:hover, .link:active:hover {
  transform: translateY(-1rem);
  box-shadow: 0 5px 3px #555;
  background-color: var(--color-secondary);
  color: var(--color-white);
}

.tilt {
  transform-style: preserve-3d;
  transform: perspective(1000px) translateZ(20px);
}

.row {
  display: flex;
  padding: 2rem 0;
}

.icon {
  width: 5rem;
  height: 3rem;
}

.nav {
  position: fixed;
  z-index: 10000;
  width: 100vw;
  top: 0;
  padding: 1.8rem 2rem;
  justify-content: space-between;
  font-size: 2rem;
  font-weight: 200;
  background: var(--color-white);
}
@media (prefers-color-scheme: dark) {
  .nav {
    background: #010102;
  }
}
@media (max-width: 56.25em) {
  .nav {
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
  }
}
.nav-list {
  display: flex;
  justify-content: center;
}
.nav-list-item {
  margin: 0 1rem;
}
.nav-link, .navlink:active {
  text-decoration: none;
  color: var(--color-secondary);
  font-weight: 700;
  font-family: "Raleway";
  padding: 1.5rem 1.5rem 0.2rem 1.5rem;
  text-transform: uppercase;
  transform: translateY(0px) scale(1);
  transition: all 1s ease-in-out;
}
.nav-link:hover, .navlink:active:hover {
  color: var(--color-gray);
  border-bottom: 0.2rem solid var(--color-secondary);
  transform: translateY(-1px) scale(1.1);
}
@media (prefers-color-scheme: dark) {
  .nav-link, .navlink:active {
    color: var(--color-white);
  }
}

.hero {
  height: 90vh;
  background: linear-gradient(to right, rgba(2, 2, 2, 0.7) 60%, rgba(5, 5, 5, 0.2)), url("../images/hero.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 56.25em) {
  .hero {
    height: 100vh;
    padding: 3rem;
    background: linear-gradient(to right, rgba(2, 2, 2, 0.7) 60%, rgba(5, 5, 5, 0.2)), url("../images/aron-small.jpg");
  }
}
.hero-text {
  font-size: 2rem;
  color: var(--color-white);
  padding-top: 15rem;
}
.hero-title {
  font-weight: 500;
  margin: 3rem 0;
}
.hero-message {
  -webkit-animation: animate-fade 2s ease-in-out 0.1s both;
          animation: animate-fade 2s ease-in-out 0.1s both;
}
.hero-card {
  max-width: 60%;
  transform: translate(0%, 50%);
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  padding: 5rem;
  font-size: 1.6rem;
  background: var(--color-white);
  box-shadow: 8px 8px 16px var(--color-secondary-light), -8px -8px 16px var(--color-secondary);
}
@media (prefers-color-scheme: dark) {
  .hero-card {
    background: var(--dark-background);
    box-shadow: 0 5px 1px var(--color-gray);
  }
}
@media (max-width: 85em) {
  .hero-card {
    font-size: 1.4rem;
    max-width: 70%;
    transform: translate(0, 10%);
  }
}
@media (max-width: 60em) {
  .hero-card {
    padding: 3rem;
    transform: translate(0, 10%);
  }
}
@media (max-width: 40em) {
  .hero-card {
    display: block;
  }
}
.hero-row1 {
  flex: 0 1 60%;
}
.hero-row2 {
  flex: 0 1 35%;
  border-left: 0.2rem solid var(--color-secondary);
  padding-left: 3rem;
}
@media (max-width: 40em) {
  .hero-row2 {
    border-left: none;
    border-top: 0.2rem solid var(--color-secondary);
  }
}

.pledge {
  padding: 5rem 0;
}
.pledge-container {
  opacity: 0;
  display: flex;
  gap: 2rem;
  max-width: 65vw;
  margin: 10% auto 0 auto;
}
@media (max-width: 60em) {
  .pledge-container {
    display: block;
  }
}
.pledge-card {
  flex: 0 1 45%;
  margin: 10rem auto;
  overflow: hidden;
  text-align: left;
  border-radius: 7px;
  -webkit-backdrop-filter: blur(14px);
          backdrop-filter: blur(14px);
  border-radius: 10px;
  transition: transform 0.3s ease-in;
}
.pledge-card:hover {
  transform: translateY(-3rem);
}
.pledge-card-message {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(1, 1, 1, 0.6823529412);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  width: 100%;
  padding: 3rem;
  color: var(--color-white);
}
.pledge-icon {
  width: 7rem;
  position: absolute;
  top: -10%;
  padding: 1rem;
  fill: var(--color-white);
}
.pledge-vision, .pledge-mission {
  height: 60rem;
  position: relative;
}
.pledge-vision {
  background: url(../images/vision.jpg) center center no-repeat;
}
.pledge-mission {
  background: url(../images/mission.jpg) top center no-repeat;
}
.pledge-paragraph {
  text-indent: 0;
}

.philosophy {
  max-width: 60rem;
  margin: 0 auto;
}

.about {
  padding: 5rem 0;
}
@media (prefers-color-scheme: dark) {
  .about {
    background-color: var(--dark-background);
  }
}
@media (max-width: 56.25em) {
  .about {
    width: 80vw;
  }
}
.about-container {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.about-title {
  margin: 3rem 0;
  font-weight: 500;
}
.about-story {
  width: 90%;
  margin: 0 auto;
}
.about-paragraph {
  font-family: "Raleway";
  font-size: 2rem;
  font-weight: 500;
  word-spacing: 2px;
  text-indent: 10%;
}
.about-paragraph:not(:last-child) {
  margin-bottom: 2rem;
}

.profile-team {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
.profile-card {
  flex: 0 1 45%;
  margin: 0 auto;
  padding: 3rem 0.5rem;
  background: rgb(255, 255, 255);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(14px);
          backdrop-filter: blur(14px);
  border-radius: 10px;
  height: 50rem;
  width: 33%;
  display: flex;
  font-size: 1.7rem;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
}
@media (max-width: 75em) {
  .profile-card {
    flex: 0 1 45%;
  }
}
@media (max-width: 56.25em) {
  .profile-card {
    flex: 0 1 85%;
  }
}
.profile-bio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.profile-picture {
  height: 12rem;
  width: 18rem;
  transform: translateY(-5%);
  -webkit-clip-path: circle(45% at 50% 50%);
          clip-path: circle(45% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
}
.profile-image {
  width: 100%;
}
.profile-list {
  flex: 0 1 90%;
}
.profile-tabs {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
}

.team {
  padding: 5rem 0;
}
@media (prefers-color-scheme: dark) {
  .team {
    background-color: var(--dark-background);
  }
}
.team-flex {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
@media (max-width: 56.25em) {
  .team-flex {
    display: block;
    margin: 1rem;
  }
}
.team-container {
  flex: 0 1 42%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
}
@media (max-width: 60em) {
  .team-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.team-text {
  font-size: 2.5rem;
  flex: 0 1 70%;
  text-align: left;
}
.team-name {
  font-weight: 500;
}
.team-title {
  -webkit-animation: animate-fade 2s ease-in-out 0.1s both;
          animation: animate-fade 2s ease-in-out 0.1s both;
}
.team-picture {
  flex: 0 1 20%;
  border-radius: 50%;
}
@media (max-width: 60em) {
  .team-picture {
    flex: 0 1 90%;
    margin: 0 auto;
  }
}
.team-img {
  width: 100%;
  -webkit-clip-path: circle(48% at 50%);
          clip-path: circle(48% at 50%);
  transform: translateY(2px);
}
@media (max-width: 60em) {
  .team-img {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
  }
}
.team .parralax {
  transition: transform 0.3s ease-in-out;
}
.team-message {
  text-align: left;
  font-weight: 300;
  margin: 0;
}

.service {
  padding: 5rem 0;
}
@media (prefers-color-scheme: dark) {
  .service {
    background-color: var(--dark-background);
  }
}
.service-container {
  margin: 0 auto;
  max-width: 60vw;
  font-size: 2rem;
}
@media (max-width: 60.5em) {
  .service-container {
    max-width: 90vw;
  }
}
.service-card {
  display: flex;
  align-items: center;
}
@media (prefers-color-scheme: dark) {
  .service-card {
    color: var(--dark-background);
  }
}
.service-card:not(:last-child) {
  margin: 1rem 0;
}

#darkGroup {
  fill: var(--color-secondary);
}

#light,
#dark1 {
  transform: translate(1.5rem);
  transition: transform 1s ease-in-out;
}

.service-card:hover #light,
.service-card:hover #dark1 {
  transform: translate(0);
}

.active {
  opacity: 1;
  -webkit-animation: fadeEffect 2s steps(30) forwards;
          animation: fadeEffect 2s steps(30) forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.section {
  margin: 5rem auto 0 auto;
}

@-webkit-keyframes animate-fade {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  50% {
    transform: translateX(1rem);
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes animate-fade {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  50% {
    transform: translateX(1rem);
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */